---
import Picture from '@/components/Picture.astro';
import PageSection from '../PageSection.astro';

export interface Props {
  section: Section;
}

const {
  section: { id, title, subtitle, image, Content },
} = Astro.props as Props;
---

<PageSection id={id} title={title} subtitle={subtitle} classes='bg-light dark:bg-gray-900'>
  <div class='grid gap-12 lg:grid-cols-3'>
    {image?.src && (
      <Picture
        src={image.src}
        alt={image.alt}
        layout="fixed"
        w={320}
        h={320}
        attributes={{
          picture: { class: 'mx-auto', 'data-aos': 'fade-up' },
          img: { class: 'border-round' },
        }}
      />
    )}
    <div class='text-justify lg:col-span-2' data-aos='fade-up'>
      <Content />
    </div>
  </div>
</PageSection>
