---
export interface Props {
  section: Section;
}

import getImagePath from '@/helpers/getImagePath';

import PageSection from '../PageSection.astro';
import Image from '@/components/images/Image.astro';

const {
  section: { id, title, subtitle, image, html, items },
} = Astro.props as Props;
---

<PageSection id={id} title={title} subtitle={subtitle} classes="bg-light dark:bg-gray-900">
  <div class="grid gap-12 lg:grid-cols-3">
    {image?.src && (
      <Image
        src={getImagePath(image.src)}
        alt={image.alt}
        classes="mx-auto mb-3"
        imgClasses="w-60 h-60 border-round"
        caption={image.caption}
      />
    )}
    {html && <div set:html={html} class="text-justify lg:col-span-2" />}
  </div>
</PageSection>
