---
export interface Props {
  section: Section;
}
import '@/lib/photoswipe/photoswipe.css';
import PageSection from '../PageSection.astro';
import GalleryItem from './GalleryItem.astro';

const {
  section: { id, title, subtitle, html: content, items },
} = Astro.props as Props;
---
<PageSection id={id} title={title} subtitle={subtitle} content={content} classes="text-center bg-light">
  <div id="gallery--simple" class="pswp-gallery grid gap-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6">
    {items?.filter(({image}) => image?.src).map((item) => <GalleryItem item={item} />)}
  </div>
</PageSection>

<script hoist type="module">
  import PhotoSwipeLightbox from '@/lib/photoswipe/photoswipe-lightbox.esm.js';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery--simple',
    children: 'a',
    pswpModule: () => import('@/lib/photoswipe/photoswipe.esm.js'),
  });
  lightbox.init();
</script>
