---
export interface Props {
  item: SectionItem;
}

import getImagePath from '@/lib/getImagePath';
import escapeHTML from '@/lib/escapeHTML';
import getImageFormats from '@/lib/getImageFormats';
import { getMetadata, getSrcset } from '@/helpers/image-utils';

const { item: { title, subtitle, image } } = Astro.props as Props;

const src = getImagePath(image?.src || '');
const quality = 90;

const sizes = '';
const classes = '';
const imgClasses = '';

const opts = {
  widths: [null],
  formats: getImageFormats(import.meta.env.IMAGE_FORMATS),
  sharpWebpOptions: {
    quality,
  },
  sharpAvifOptions: {
    quality,
  },
};

const { metadata, lowsrc, highsrc } = getMetadata(src, opts);
---
<li class="gallery-item">
  <a role="button" tabIndex={-1} class="gallery-box" href={highsrc.url}
    data-pswp-width={highsrc.width}
    data-pswp-height={highsrc.height}
    target="_blank"
  >
    <picture>
      {Object.values(metadata).map((imageFormat) => (
        <source type={imageFormat[0].sourceType} srcset={getSrcset(imageFormat)} sizes={sizes} />
      ))}
      <img src={lowsrc.url} width={highsrc.width} height={highsrc.height} alt={escapeHTML(image?.alt)} loading="lazy" decoding="async" class={imgClasses}/>
    </picture>

    <div class="gallery-box-caption">
      <div class="project-category text-white-50">{subtitle}</div>
      <div class="project-name">{title}</div>
    </div>
  </a>
</li>

<style lang="scss">
.gallery-box {
  position: relative;
  display: block;
  background-color: transparent;
  &:hover {
    color: #d6370c;
  }
}
.gallery-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;

  text-align: center;
  opacity: 0;

  color: white;
  background: rgba(244,98,58,.9);

  transition: opacity 0.25s ease;
  text-align: center;
}
.gallery-box-caption:hover {
  opacity: 1;
}
.project-category {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.project-name {
  font-size: 1.2rem;
}
</style>
