---
export interface Props {
  item: SectionItem;
}

import getImagePath from '@/lib/getImagePath';
import Image from '@/components/images/Image.astro';

const { item: { title, content, image } } = Astro.props as Props;
---

<div class="text-center">
  {image?.src && (
    <Image src={getImagePath(image.src)} alt={image.alt} classes="mb-4" imgClasses="w-full h-full max-w-full object-cover" caption={image.caption} />
  )}
  <h3 class="mb-4">{title}</h3>
  <p>{content}</p>
</div>
