---
export interface Props {
  item: SectionItem;
  index: number;
}

import Picture from '@/components/Picture.astro';

const { item: { title, content, image }, index } = Astro.props as Props;
let aos: string;
if (index % 3 === 0) {
  aos = 'fade-up';
} else if (index -1 % 3 === 0) {
  aos = 'fade-up';
} else {
    aos = 'fade-up';
}
---

<li class="text-center">
  {image?.src && (
    <div class="mb-4" data-aos={aos}>
      <Picture src={image.src} alt={image.alt}  />
    </div>
  )}
  <h3 class="mb-4" data-aos={aos}>{title}</h3>
  <p data-aos={aos}>{content}</p>
</li>
