---
import Picture from '@/components/Picture.astro';

export interface Props {
  item: SectionItem;
}

const {
  item: { title, subtitle, content, image },
} = Astro.props as Props;
const aos = 'fade-up';
---

<li class='text-center'>
  {image?.src && (
    <Picture
      src={image.src}
      alt={image?.alt || title || content || ''}
      layout="fixed"
      w={224}
      h={224}
      attributes={{
        picture: { class: 'mx-auto mb-3', 'data-aos': aos },
        img: { class: 'border-round' },
      }}
    />
  )}
  <p data-aos={aos}>{content}</p>
  <div class='mt-4 text-sm before:content-['-']' data-aos={aos}>
    {title}{subtitle && <cite>{`, ${subtitle}`}</cite>}
  </div>
</li>
