---
export interface Props {
  page: Page;
}

import Image from 'astro-imagetools';
import getImagePath from '@/helpers/getImagePath';
// import ArtImage from '@/components/images/ArtImage.astro';
import Button from './Button.astro';

const { page } = Astro.props as Props;

//   {sources && <ArtImage sources={sources} alt={alt} loading="eager" classes="col-start-1 row-start-1" />}

/*
  {sources && (
    <Image
      src={sources[0].src}
      alt={alt}
      artDirectives={[
        {
          src: sources[1].src,
          media: sources[1].media,
        },
      ]}
    />
  )}
*/

const { title = '', headline = '' } = page;

const { items } = page as unknown as Section;
if (!items) {
  throw new Error('items not found in frontmatter');
}

const { title: buttonCaption } = items.find(({ image }) => !image) || {};

const images = items.filter(({ image }) => image).map(({image}) => image);
const sources = images.map(({ src, media }) => {
  if (!src) {
    throw new Error('ArtImage: Image src required');
  }

  return { src: getImagePath(src), media };
});

const alt = images[0]?.src || '';

---
<div class="hero">
  {sources && (
    <Image
      src={'/' + sources[0].src}
      alt={alt}
      placeholder="none"
      layout="fullWidth"
      loading="eager"
      artDirectives={[
        {
          src: '/' + sources[1].src,
          media: sources[1].media,
        },
      ]}
    />
  )}
  <div class="col-start-1 row-start-1 px-4 text-center flex flex-col-reverse justify-center items-center">
    <Button tag="a" to="#services">{buttonCaption}</Button>
    <h1 class="txt uppercase font-bold text-3xl md:mb-6 md:text-4xl lg:text-6xl">{title}</h1>
    {headline && <div class="txt mb-8 text-2xl italic">{headline}</div>}
  </div>
</div>

<style>
  :global(.hero) {
    @apply grid;
  }
  :global(.hero > .astro-imagetools-picture) {
    @apply col-start-1 row-start-1;
  }
  .txt {
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  }
</style>
