---
export interface Props {
  page: Page;
}

import Picture from '@/components/Picture.astro';
import Button from './Button.astro';

const { page } = Astro.props as Props;

const { title = '', headline = '' } = page;

const { items } = page as unknown as Section;
if (!items) {
  throw new Error('items not found in frontmatter for hero');
}
if (items.length !== 3) {
  throw new Error('expected 3 items in frontmatter for hero');
}

const buttonCaption = items.find(({ image }) => !image)?.title;
if (!buttonCaption) {
  throw new Error('expected 1 item in frontmatter for button caption in hero');
}

const sources = items.filter(({ image }) => image?.src)
  .map(({ image: { alt, src, media } }) => ({ src, media, alt }));

if (sources.length !== 2) {
  throw new Error('expected 2 items in frontmatter for hero image');
}

if (!sources[1].media) {
  throw new Error('media is expected for second hero image in frontmatter');
}
---
<div class="hero">
  <Picture
    src={sources[0].src}
    alt={sources[0].alt}
    placeholder="none"
    preload="webp"
    loading="eager"
    format={['webp', 'jpeg']}
    artDirectives={[
      {
        src: sources[1].src,
        media: sources[1].media,
      },
    ]}
  />

  <div class="col-start-1 row-start-1 flex flex-col-reverse justify-center items-center px-4 text-center z-10">
    <Button tag="a" to="#services">
      {buttonCaption}
    </Button>

    <h1 class="txt uppercase text-3xl md:mb-6 md:text-4xl lg:text-6xl">
      {title}
    </h1>

    {headline && (
      <div class="txt mb-8 text-2xl italic">
        {headline}
      </div>
    )}
  </div>
</div>

<style>
  .hero {
    @apply grid;

    > :global(.astro-imagetools-picture) {
      @apply col-start-1 row-start-1;
    }

    .txt {
      color: white;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    }
  }
</style>
