---
import '../styles/global.css';

import i18n from '@/config/i18n';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { fetchContacts, fetchSocialLinks, fetchAddress } from '@/api/yamls';

import SEO from './SEO/SEO.astro';
import Header from './header/Header.astro';
import Footer from './footer/Footer.astro';

const locale = getLocaleFromUrlPathname(Astro.request.url.pathname);

const contacts = await fetchContacts();
const socialLinks = await fetchSocialLinks(locale);
const address = await fetchAddress(locale);

const { seo } = Astro.props;

// to avoid tsc error
const currentLocale = i18n.locales[locale];
if (!currentLocale) {
  throw new Error(`Unknown locale ${locale}`);
}
---

<!DOCTYPE html>
<html lang={currentLocale.htmlLang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO seo={{ ...seo, contacts, socialLinks, address }} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preload" href="/assets/fonts/oswald-v36-cyrillic-700.woff2" as="font" type="font/woff2" crossOrigin="anonymous" />
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header />
      <main class="w-full flex-auto mt-header pb-header lg:mt-0 lg:pb-header-xl">
        <slot />
      </main>
      <Footer contacts={contacts} socialLinks={socialLinks} address={address} />
    </div>
  </body>
</html>
