---
import '../styles/global.css';

import i18n from '@/config/i18n.mjs';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { fetchContacts, fetchSocialLinks, fetchAddress } from '@/api/yamls';

import SEO from './SEO/SEO.astro';
import Header from './header/Header.astro';
import Footer from './footer/Footer.astro';

const { pathname } = Astro.canonicalURL;
const locale = getLocaleFromUrlPathname(pathname);

const contacts = await fetchContacts();
const socialLinks = await fetchSocialLinks(locale);
const address = await fetchAddress(locale);

const { seo } = Astro.props;

// to avoid a tsc error
const currentLocale = (i18n.locales as Record<string, any>)[locale];
if (!currentLocale) {
  throw new Error(`Unknown locale ${locale}`);
}
---

<!DOCTYPE html>
<html lang={currentLocale.htmlLang}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <SEO seo={{ ...seo, contacts, socialLinks, address }} />
  </head>
  <body>
    <div class='flex flex-col min-h-screen'>
      <Header locale={locale} scrollSpy={false} />
      <main id='main' class='flex w-full flex-auto mt-header py-header lg:mt-header-xl lg:py-header-xl'>
        <slot></slot>
      </main>
      <Footer contacts={contacts} socialLinks={socialLinks} address={address} />
    </div>
  </body>
</html>
