---
import 'aos/dist/aos.css';
import '../styles/global.css';

import i18n from '@/config/i18n';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { fetchContacts, fetchSocialLinks, fetchAddress } from '@/api/yamls';

import SEO from './SEO/SEO.astro';
import Favicons from './Favicons.astro';
import Header from './header/Header.astro';
import Footer from './footer/Footer.astro';

const { pathname } = Astro.canonicalURL;
const locale = getLocaleFromUrlPathname(pathname);

const contacts = await fetchContacts();
const socialLinks = await fetchSocialLinks(locale);
const address = await fetchAddress(locale);

const { seo } = Astro.props;

// to avoid tsc error
const currentLocale = i18n.locales[locale];
if (!currentLocale) {
  throw new Error(`Unknown locale ${locale}`);
}
//       <main class="w-full flex-auto mt-header pb-header lg:mt-0 lg:pb-header-xl">
---
<!DOCTYPE html>
<html lang={currentLocale.htmlLang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO seo={{ ...seo, contacts, socialLinks, address }} />
    <link rel="manifest" href="/manifest.webmanifest" />

    <Favicons />

  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header locale={locale} />
      <main class="w-full flex-auto pb-header lg:pb-header-xl">
        <slot />
      </main>
      <Footer contacts={contacts} socialLinks={socialLinks} address={address} />
    </div>
  </body>
</html>

<script>
  import AOS from 'aos';
  AOS.init();
</script>
