---
export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  content?: string;
  contentToBottom?: boolean;
  classes?: string;
}

import Container from '@/components/Container.astro';

const SECTION_ITEM_CLASS = 'section-item';

const { id, title, subtitle, content, contentToBottom = false, classes = '' } = Astro.props as Props;
---

<section id={id} class={`${SECTION_ITEM_CLASS} py-24 lg:py-36 text-center ${classes}`}>
  <Container>
    {(title || subtitle) && (
      <div class="flex flex-col-reverse">
        {title && <h2 class="mb-18 text-lg text-muted">{subtitle}</h2>}
        {subtitle && <div class="divider mb-8 text-center text-xl font-bold uppercase">{title}</div>}
      </div>
    )}
    {content && !contentToBottom && <div class="mb-18 text-center text-muted" set:html={content} />}
    <slot />
    {content && contentToBottom && <div class="mt-18 text-center text-muted" set:html={content} />}
  </Container>
</section>
